<html> 
<head> 
<title>Page Not Found</title> 
<script language="JavaScript" type="text/javascript"> 

var seconds =6; 
// countdown timer. took 6 because page takes approx 1 sec to load 

var url="{{url_for('home')}}"; 
console.log(url);
// variable for index.html url 

function redirect(){ 
if (seconds <=0){ 

// redirect to new url after counter down. 
window.location = url; 
} else { 
seconds--; 
document.getElementById("pageInfo").innerHTML="Redirecting to Home Page after " 
+seconds+" second(s)." 
setTimeout("redirect()", 1000) 
} 
} 
</script> 

<style>

</style>
</head> 


<body onload="redirect()"> 
    <center>
<p id="pageInfo"></p> 
</center>
</body>

</html> 
